body{
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.margid{
    margin: 15px;
}
.margi2{
    padding: 10px;
}
.navbar-default{
    background-color: inherit;
}
nav{
    display: flex;
    justify-content: flex-end;
}
.contents_start{
  background-color:red;
   width: 100%;
    height: auto;

	
}
.contenu_nav{
    height: 15%;
}
#Image_perso{
    border-radius: 100px;
    border: aliceblue 3px solid;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#Image_perso:hover{
    opacity: .7
}

.contenu__start_centre{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start_nom{
    align-items: center;
    justify-content: center;
}
.start_profession{
    margin-top: 0px;
}
.start_footer{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.clolor_white{
    color: white;
}
.contents_cv{
    margin-top: 5px;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.white{
    background-color: white;
}
.gris{
    background-color: darkgrey;
}

.experience_contenu{
    width: 40%;
    height: 80%;
}
.competences_contenu{
    width: 40%;
    height: 80%;
}

.contents_parcour{
    margin-top: 5px;
    width: 100%;
    background-color: #9d9d9d;
    height: 650px;
}
.carre{
    border: 1px black solid;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
    nav{
        display: inherit;
    }
    a{
        color: white;
    }
    .navbar-nav{margin-left: 15px;}
    .contents_cv{
        flex-direction: column;
    }
    .competences_contenu{
        width: 90%;
    }
    .experience_contenu{
        width: 90%;
    }
}

.imgHome{

    margin-top: 20px;
}