html, body{
    min-height: 100%;
    position: relative;
    margin: 0; padding: 0;
    //font: 20px Montserrat, sans-serif;
    //line-height: 1.8;
    //color: #f5f6f7;
}
body{
    display : table;
    width: 100%;

}
/*footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #F2EBDF;

}*/

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 20px;
}
.fontsize{
    font-size: 13px;
}
.aligCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*-------------------------HOME-----------------------------*/
.menuText{
    color: gray;
    margin-right: 40px;
    margin-left: 40px;
    //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px ;

}
.ImagesDebout{
    background-color:#D7D996;
    width: 100%;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 10px;
    color:white;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.DivHome1{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}
.DivHome2{
    margin: auto;
    position: absolute;
    z-index: 2;
    height: 25%;
    width: 65%;
    top:60%;
    transition: .4s ease;
    background-color: #F2EBDF;
    border: #593C32 6px solid;
    Left:18%;
}
.DivHome2:hover{
    top:50%;
    transition: .5s ease;
}
.DivHome2Title{
    margin: auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.DivHome2Title h3{
    border: #593C32;
}
/*---------------------------------Footer--------------------*/
.NousTrouverFooter{
    background-color:#593C32;
    color:#F2EBDF;
}

/*-----------------------Qui sommes nous -------------------------*/
.QuiNousSommes{
    min-height: 400px;
    margin: 25px;
}
.TextQuiSommesNous{
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
}
/*---------------------------Contact----------------------------------*/
.NomRestaurantContact{
    margin: 25px;
    background-color: #F2EBDF;
    font-size: 20px;
    text-align: center;
}
.AddressContact{
    min-height: 300px;
    margin: 25px;
    text-align: center;
}
.AddressContact span{
    vertical-align: middle;
    display: table-cell;
}
/*--------------Logim Adm------------------------*/
.LoginAdm{
    height: 400px;
    width: 80%;
   text-align: center;
   border:#593C32 8px solid;
   margin: auto;
    margin-bottom: 45px;
}
.labelFormulaire{
    font-size: 20px;
}
.btnFormulaire{
    width: 180px;
    background-color: #593C32;
    color :#F2EBDF;
}
td{
    color: #0b0b0b;
}

/*------------------------Page ADM -----------------------------*/
.ContenuPage{
    min-height: 400px;
    margin: 25px;

}
.DateReservation{
    margin-top: 50px;
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
}
/*--------------Nous menu / Menu--------------------------------*/

.TextPrixAlign{
    align-self: center;
    text-align: right;
}
.ImageRonde{
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
}
.ModuloMenu2{
    background-color:white;
    border-bottom:#D7D996 4px solid;
    border-top:#D7D996 4px solid
}
.boutonMenu{
    margin:auto;
    background-color:#593C32 ;
    height: 30px;
    width: 50%;
    margin-top: 20px;
}
.boutonTexte{
    color: #F2EBDF;
    text-align: center;
}
.boutonMenu:hover{
    background-color:#785043 ;
}
.ImagaDeletHover{
    width: 35px;
}
.ImagaDeletHover:hover{
    width: 40px;
    transition: .3s ease;
}
.TextHover:hover{
    font-size: 20px;
    transition: .3s ease;
}
/*--------------------Genéralles-------------------------------------*/
.TextAlignCenter{
    text-align: center;
}
.overlay-image{
    position: relative;
}
.overlay-image:hover{
    opacity: 0.70;
    transition: .3s ease;
}
.RowMenu{
    margin: auto;
    color: black;

}
.margin30Top{
    margin-top: 30px;
}
.margin1Left50{
    margin-left: 120px;
}
/*Titres des pages*/
.TitreH2Border{
    margin: 25px;
    margin-right: 50%;
    margin-top: 30px;
    border-bottom: black 1px solid;
}

/*------------------------Reservations------------------------------*/
.FormReservation{
    min-height: 300px;
    width: 100%;
   margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.form-Horaire-Nbrpersonnes{
    width: 70%;
    height: 30px;
    margin: auto;
}
.ErreurReservation{
    margin-top: 25px;
    margin-left: 25px;
    color: red;
}

/*---------------Media screnn --------------------------------*/
@media screen and (max-width: 575px) {
   .margin1Left50{
       margin-left: 0px;
   }
    .TextPrixAlign{
        text-align: center;
    }

}
@media screen and (max-width: 750px) {

    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        color: black;
    }

    table tr {
        display: block;
        margin-bottom: .625em;
    }

    table td {
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;

    }

    table td:last-child {
        border-bottom: 0;
    }
    .table th,
    .table td
    {
        border-top: none;
    }
}

@media screen and (max-width: 1300px) {
    .DivHome2{
        height: 40%;
    }
    .DivHome2Title h3{
        font-size: 20px;
    }

}
@media screen and (max-width: 990px) {
    .DivHome2{
        height: 25%;
    }
}
