html, body{
    min-height: 100%;
    position: relative;
    margin: 0; padding: 0;
    //font: 20px Montserrat, sans-serif;
    //line-height: 1.8;
    //color: #f5f6f7;
}
body{
    display : table;
    width: 100%;

}
/*footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #F2EBDF;

}*/

p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 20px;
}

.menuText{
    color: gray;
    margin-right: 40px;
    margin-left: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.NousTrouverFooter{
    background-color:#593C32;
    color:#F2EBDF;
}

.TitreH2Border{
    margin: 25px;
    margin-right: 50%;
    border-bottom: black 1px solid;
}
.TextQuiSommesNous{
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    color: black;
}

.NomRestaurantContact{
    margin: 25px;
    background-color: #F2EBDF;
    font-size: 20px;
    text-align: center;
}
.AddressContact{
    min-height: 250px;
    border: black 1px solid;
    margin: 25px;
    text-align: center;
}
.AddressContact span{
    vertical-align: middle;
    display: table-cell;
}
.LoginAdm{
    min-height: 300px;
    width: 80%;
   text-align: center;
   border:#593C32 8px solid;
   margin: auto;
    margin-bottom: 45px;
}
.labelFormulaire{
    font-size: 20px;
}
.btnFormulaire{
    width: 180px;
    background-color: #593C32;
    color :#F2EBDF;
}
#MenuDuJour{
    visibility: inherit;
}
.overlay-image{
    position: relative;
}
.overlay-image:hover{
    opacity: 0.5;
    transition: .5s ease;
}
